  * {
    padding: 0;
    margin: 0;
  }
  div {
    width: 98px;
    height: 98px;
    float:left;
  }
  article {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
  } 
  .up, .left, .right, .bottom {border: 1px solid #aaa;}
  .up {
    margin-left:100px;
    margin-right:100px;
    box-shadow: 0 3px 5px #aaa;
    background-color: yellowgreen;
  }
  
  .left {
    box-shadow: 3px 0 5px #aaa;
    background-color: crimson;
  }
  .middle{
    display: box;
    box-align: center;
    box-pack: center;
    /*Firefox*/
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /*Webkit*/
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

  }
  .middle img{
    width: 24px; height: 24px; 
  }
  
  .right {
    box-shadow: -3px 0 5px #aaa;
    background-color: chocolate;
  }
  
  .bottom {
    margin-left:100px;
    box-shadow: 0 -3px 5px #aaa;
    background-color: orangered;
  }
