  * {
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    position: relative;
    text-align: center;
  }
  
  div {
    width: 98px;
    height: 98px;
    position: absolute;
  }
  
  article {
    position: relative;
    top: 50%;
    width: 100%;
  }
  
  section {
    position: relative;
    top: -150px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  
  .up {
    top: 0;
    left: 100px;
    box-shadow: 0 3px 5px #aaa;
    background-color: yellowgreen;
    border: 1px solid #aaa;
  }
  
  .left {
    top: 100px;
    left: 0;
    box-shadow: 3px 0 5px #aaa;
    background-color: crimson;
    border: 1px solid #aaa;
  }
  
  .middle {
    top: 100px;
    left: 100px;
    display:table;
  }
  .middle p{
    display: table-cell;
    vertical-align: middle;
  }
  .middle img{
    width: 24px; height: 24px;
    
  }
  
  .right {
    top: 100px;
    left: 200px;
    box-shadow: -3px 0 5px #aaa;
    background-color: chocolate;
    border: 1px solid #aaa;
  }
  
  .bottom {
    top: 200px;
    left: 100px;
    box-shadow: 0 -3px 5px #aaa;
    background-color: orangered;
    border: 1px solid #aaa;
  }
